.card {
    position: relative;
}

.no {
    position:absolute;

}
button {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    margin: 10px;
    cursor: pointer;
}


@media (max-width: 600px) {
    h1 {
        font-size: 22px;
        text-align: center;
    }

    button {
        font-size: 22px;
        padding: 16px 30px;
    }
}
